---
layout: default
---

<h3>Publications</h3>

<h4>Upcoming</h4>
<ul>
    {% for publication in site.data.publications %}
        {% if publication.type == "conference-upcoming" %}
            <li>
                <b>{{ publication.authors }}</b> ({{publication.year}}). "{{ publication.title }}", <i>{{ publication.publication }}.</i> ({{ publication.status }})
            </li>
        {% elsif publication.type == "journal-upcoming" %}
            <li>
                <b>{{ publication.authors }}</b> "{{ publication.title }}", <i>{{ publication.publication }}.</i> ({{ publication.status }})
            </li>
        {% endif %}
    {% endfor %}
</ul>

<h4>Conference Proceedings</h4>
<ul>
    {% for publication in site.data.publications %}
        {% if publication.type == "conference" %}
            <li>
                <b>{{ publication.authors }}</b> ({{publication.year}}). <a href="http://dx.doi.org/{{ publication.doi }}">"{{ publication.title }}"</a>, <i>{{ publication.publication }}.</i>
            </li>
        {% endif %}
    {% endfor %}
</ul>

<h3>Masters Theses</h3>
<ul>
    {% for publication in site.data.publications %}
        {% if publication.type == "thesis" %}
            {% if publication.url ==  %}
                <li>
                    <b>{{ publication.authors }}</b> ({{publication.year}}). "{{ publication.title }}", University of California, Davis.
                </li>
            {% else %}
                <li>
                    <b>{{ publication.authors }}</b> ({{publication.year}}). <a href="{{publication.url}}">"{{ publication.title }}"</a>, University of California, Davis.
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>
