<header>
  <div class="title">
    <img class="logo" src="/images/logo.png">
    <span>
      <h2>UC Davis Center for</h2>
      <h1>Human/&#8203;Robotics/&#8203;Vehicle</h1>
      <h1>Integration and Performance<h1>
    </span>
  </div>
  <div class="navbar">
    <p class="view links">
      <a href="/index.html">Home</a> &mdash;
      <a href="/research.html">Research</a> &mdash;
      <a href="/people/index.html">People</a> &mdash;
      <a href="/events.html">Events</a> &mdash;
      <a href="/outreach.html">Outreach</a>
    </p>
  </div>
</header>